## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
import pprint

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Current Description
0,0,east london,ZA,-33.0153,27.9116,17.00,77,20,2.06,few clouds
1,1,ushuaia,AR,-54.8000,-68.3000,9.00,81,75,4.12,light rain
2,2,busselton,AU,-33.6500,115.3333,30.70,29,0,2.37,clear sky
3,3,cidreira,BR,-30.1811,-50.2056,23.64,85,24,4.16,few clouds
4,4,nalut,LY,30.3333,10.8500,10.09,66,13,3.54,few clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What will be the minimum temperature for vacation as for preference?"))
max_temp = float(input("What will be the maximum temperature for vacation as for preference?"))

What will be the minimum temperature for vacation as for preference?20
What will be the maximum temperature for vacation as for preference?30

In [12]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              684 non-null    int64
 1   City                 684 non-null    object
 2   Country              677 non-null    object
 3   Lat                  684 non-null    float64
 4   Lng                  684 non-null    float64
 5   Max Temp             684 non-null    float64
 6   Humidty              684 non-null    int64
 7   Cloudiness           684 non-null    int64
 8   Wind Speed           684 non-null    float64
 9   Current Description  684 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 53.6+ KB

In [25]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
condition = (city_data_df["Max Temp"] > min_temp) & (city_data_df["Max Temp"] < max_temp)
pref_city_data_df = city_data_df.loc[condition]
pref_city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidty,Cloudiness,Wind Speed,Current Description
3,3,cidreira,BR,-30.1811,-50.2056,23.64,85,24,4.16,few clouds
5,5,manzanillo,CU,20.3433,-77.1167,22.83,79,0,3.61,clear sky
6,6,sao filipe,CV,14.8961,-24.4956,21.85,79,0,4.90,clear sky
8,8,antsohihy,MG,-14.8796,47.9875,24.36,88,38,1.88,scattered clouds
9,9,chuy,UY,-33.6971,-53.4616,21.83,94,3,3.55,clear sky
...,...,...,...,...,...,...,...,...,...,...
665,665,alegrete,BR,-29.7831,-55.7919,23.75,82,92,2.67,overcast clouds
670,670,macau,MO,22.2006,113.5461,23.00,73,0,2.06,clear sky
672,672,nueva granada,CO,9.8017,-74.3930,25.73,69,98,1.16,overcast clouds
674,674,kalemie,CD,-5.9475,29.1947,21.83,85,100,2.33,overcast clouds
678,678,razole,IN,16.4833,81.8333,24.00,78,20,3.60,mist

In [26]:
# 4a. Determine if there are any empty rows.
pref_city_data_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidty                0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
pref_city_data_df.dropna(how = "any", inplace = True)

<ipython-input-28-24b42e5c7603>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pref_city_data_df.dropna(how = "any", inplace = True)

In [41]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,cidreira,BR,23.64,few clouds,-30.1811,-50.2056,
5,manzanillo,CU,22.83,clear sky,20.3433,-77.1167,
6,sao filipe,CV,21.85,clear sky,14.8961,-24.4956,
8,antsohihy,MG,24.36,scattered clouds,-14.8796,47.9875,
9,chuy,UY,21.83,clear sky,-33.6971,-53.4616,
...,...,...,...,...,...,...,...
665,alegrete,BR,23.75,overcast clouds,-29.7831,-55.7919,
670,macau,MO,23.00,clear sky,22.2006,113.5461,
672,nueva granada,CO,25.73,overcast clouds,9.8017,-74.3930,
674,kalemie,CD,21.83,overcast clouds,-5.9475,29.1947,
678,razole,IN,24.00,mist,16.4833,81.8333,

In [43]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    Lat_value = row["Lat"]
    Lng_value = row["Lng"]
    params["location"] = f"{Lat_value},{Lng_value}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    response = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(how= "any", inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,cidreira,BR,23.64,few clouds,-30.1811,-50.2056,Hotel Castelo
5,manzanillo,CU,22.83,clear sky,20.3433,-77.1167,"HOSTAL ""THE YELLOW HOUSE"""
6,sao filipe,CV,21.85,clear sky,14.8961,-24.4956,Tortuga B&B
8,antsohihy,MG,24.36,scattered clouds,-14.8796,47.9875,Hotel de Ville
9,chuy,UY,21.83,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
...,...,...,...,...,...,...,...
665,alegrete,BR,23.75,overcast clouds,-29.7831,-55.7919,Hotel Alegrete
670,macau,MO,23.00,clear sky,22.2006,113.5461,Grand Emperor Hotel
672,nueva granada,CO,25.73,overcast clouds,9.8017,-74.3930,hospedaje betania
674,kalemie,CD,21.83,overcast clouds,-5.9475,29.1947,Mahobilali
678,razole,IN,24.00,mist,16.4833,81.8333,Sterling Palavelli Godavari

In [48]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Desctiption</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
markers_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center = (30, 31), zoom_level = 3)
fig.add_layer(markers_layer)
fig

Figure(layout=FigureLayout(height='420px'))